{% extends 'func/master_mask.html' %}

{% block master_mask %}
    <h1>修改密码</h1>
    <hr>
    <form>
        {% csrf_token %}
        <div class="form-group">
            <label for="old_password">请输入旧密码：</label>
            <input type="password" id="old_password" class="form-control">
        </div>

        <div class="form-group">
            <label for="re_password">请确认旧密码：</label>
            <input type="password" id="re_password" class="form-control">
        </div>

        <div class="form-group">
            <label for="new_password">请输入新密码：</label>
            <input type="password" id="new_password" class="form-control">
        </div>
    </form>
    <input type="button" value="提交" class="btn btn-primary" id="btn">
    <span id="span" style="color: red;font-size: 20px;">
    </span>
    <a href="{% url 'home' %}" class="btn btn-primary pull-right">取消修改</a>

{% endblock %}

{% block script %}
    <script>
        $('#btn').click(function () {
            let post_data = {
                'old_password': $('#old_password').val(),
                're_password': $('#re_password').val(),
                'new_password': $('#new_password').val(),
            };
            let pos = JSON.stringify(post_data);
            $.ajax({
                url: '/set_password/',
                type: 'post',
                data: pos,
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    let ret = data.status;
                    if (ret == 100) {
                        location.href = '/login/'
                    } else {
                        let error = data.msg;
                        console.log(error);
                        $('#span').text(error)

                    }
                }

            })
        });
    </script>
{% endblock %}