{% extends 'back/admin_base.html' %}


{% block home %}
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>编号</th>
            <th>文章标题</th>
            <th>文章发布时间</th>
            <th>文章评论数</th>
            <th>文章点赞数</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        {% for article in article_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="/{{ article.blog.site_name }}/article/{{ article.pk }}">{{ article.title }}</a></td>
                <td>{{ article.create_time|date:'Y-m-d H:i:s' }}</td>
                <td>{{ article.comment_count }}</td>
                <td>{{ article.up_count }}</td>
                <td><a href="{% url 'update_article' article.pk %}">编辑</a></td>
                <td><a href="{% url 'delete_article' article.pk %}">删除</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}